<a href="https://colab.research.google.com/github/2025100500007-lang/python_assignment_rafat/blob/main/python_assignment_rafat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1: Variable & Data Types

In [ ]:
# (a)
name = "Rafat Ul Islam"
age = 24
gpa = 4.00
is_student = True

print(type(name))
print(type(age))
print(type(gpa))
print(type(is_student))

# (b)
print(int("123"))
print(str(456))
print(int(3.99))
print(bool(1))
print(bool(0))       #Variable Data

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
123
456
3
True
False

Question 2: Operators

In [ ]:
a = 17
b = 5

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Power:", a ** b)

print("17 > 5:", a > b)
print("17 == 5:", a == b)
print("17 != 5:", a != b)      #operatos

Addition: 22
Subtraction: 12
Multiplication: 85
Division: 3.4
Floor Division: 3
Modulus: 2
Power: 1419857
17 > 5: True
17 == 5: False
17 != 5: True

Question 3: String Manipulation

In [ ]:
name = "python programming"

print(name.upper())
print(name.title())
print(name.replace("programming", "language"))
print(len(name))

# f-string
my_name = "Rafat Ul Islam"
my_age = 24
my_gpa = 4.00

print(f"My name is {my_name}, I am {my_age} years old, and my GPA is {my_gpa}")   #String manipulation

PYTHON PROGRAMMING
Python Programming
python language
18
My name is Rafat Ul Islam, I am 24 years old, and my GPA is 4.0

Question 4: Conditional Statements - (a)Age Checker / (b)Even / Odd (One line) /(c) Grade Calculator / (d) Login System

In [ ]:
age = int(input("Enter your age: "))

if age < 0:
    print("Invalid age")
elif age >= 18:
    print("You are an adult")
elif age >= 13:
    print("You are a teenager")
else:
    print("You are a child")     #Age Checker

In [ ]:
num = int(input("Enter a number: "))
print("Even" if num % 2 == 0 else "Odd")     #Even/Odd

In [ ]:
mark = int(input("Enter your mark: "))

if mark < 0 or mark > 100:
    print("Invalid mark")
elif mark >= 90:
    print("A+")
elif mark >= 80:
    print("A")
elif mark >= 70:
    print("B")
elif mark >= 60:
    print("C")
elif mark >= 50:
    print("D")
else:
    print("F - Failed")     #grade calculator

Question 5: ATM Simulation

In [ ]:
correct_username = "admin"
correct_password = "1234"

attempts = 3

while attempts > 0:
    username = input("Enter username: ")
    password = input("Enter password: ")

    if username == correct_username and password == correct_password:
        print("Login successful! Welcome,", username)
        break
    elif username == correct_username:
        print("Incorrect password.")
    else:
        print("User not found.")

    attempts -= 1
    print("Attempts remaining:", attempts)

if attempts == 0:
    print("Account locked")      #Login system

Question 6: Basic Loops / (a) For Loop / (b) While Loop

In [ ]:
# 1 to 20
for i in range(1, 21):
    print(i)

# 7 multiplication table
for i in range(1, 11):
    print("7 x", i, "=", 7 * i)

# Sum 1 to 100
total = 0
for i in range(1, 101):
    total += i
print("Sum:", total)

# 1 to 50 step 5
for i in range(1, 51, 5):
    print(i)

fruits = ['apple', 'banana', 'cherry', 'mango', 'grape']      #For Loop
for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

In [ ]:
# 10 to 1
i = 10
while i >= 1:
    print(i)
    i -= 1

# Countdown
i = 10
while i >= 0:
    if i == 0:
        print("Blast off!")
    else:
        print(i)
    i -= 1

# First 10 multiples of 6
count = 1
while count <= 10:
    print(6 * count)
    count += 1         #While loop